@import url('/style.css');

form[name="newuser"] {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.form-help {
    font-size: .75rem;
    background: rgb(252, 204, 114);
    border-radius: .3rem;
    padding: .25rem;
    margin-top: -.5rem;
}

.form-help ul {
    margin: 0;
    padding-left: 1.2rem;
}

.error {
    background: rgb(255, 214, 214);
    color: rgb(70, 0, 0);
    padding: .5rem;
    border: 1px dotted red;
    border-radius: .3rem;
    font-size: small;
}
.error h3 {
    margin: 0 0 .5rem 0;
}

.error ul {
    margin: 0;
    padding-left: 1.5rem;
}