@import url('/style.css');

@import url('/contatos/style.css');

.btn-logout {
    font-size: inherit;
    font-family: inherit;
    padding: .3rem 1rem;
    background: orangered;
    color: white;
    border: 1px solid grey;
    border-radius: .3rem;
    cursor: pointer;
}

.btn-logout:hover {
    background: red;
}